.jstree li.jstree-open > a.jstree-anchor > i.jstree-checkbox,
.jstree li.jstree-closed > a.jstree-anchor > i.jstree-checkbox
{
    display:none;
}

#tree
{
    margin-top:     1em;
    margin-bottom:  1em;
}